* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#cards-container1,
#cards-container2,
#cards-container3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 6px;
}

#cards-container1 .card a:hover{
    background-color: orangered;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#cards-container1 .card {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

#cards-container2 {
    transition:
        opacity 0.5s;
        visibility: 0.5s;
}

#cards-container2 .card:hover{
    opacity: 0;
    visibility: hidden;
}

#cards-container3 .card {
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

#cards-container3 .card:hover {
    background-color: rgb(23, 196, 63);
    transform: translateY(-4px);
}